body {
  background-color: #FFFBD0;
  color: #000000;
  font-family: Georgia, sans-serif;
}

h1, h2, h3 {
  color: #739240;
  font-family: Tangerine, cursive;
}
.header {
  border-bottom: 1px solid #993300;

  h1, h2, h3 {
    color: #FFFBD0;
    display: inline-block;
    margin: 0;
  }

  .avatar {
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 40px;
    vertical-align: bottom;
  }
}

a {
  color: #336699;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
ul {
  margin: 0;
  padding: 0 0 0 20px;

  li {
    list-style: none;

    &:before {
      font-family: 'FontAwesome';
      content: '\f132';
      margin: 0 5px 0 -15px;
    }
  }
}
form {
  border: 1px solid #CC6600;
  border-radius: 10px;
  width: 250px;

  h1 {
    background-color: #CC6600;
    color: #FFFBD0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 5px 10px;
  }

  fieldset {
    border: none;
    padding: 10px;
  }
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #993300;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 3px;
  width: 100%;

  &:focus {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #C13100;
    transition: all 0.3s;
  }
}

input[type="submit"], button {
  margin-bottom: 10px;
  padding : 5px 20px;
  font-weight: normal;
  font-size: 0.8em;
  border: none;
  border-radius: 5px;
  background: #993300;
  color: #FFFBD0;
}
input:hover, input:focus, button:hover, button:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(153, 51, 0, 0.3);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(153, 51, 0, 0.3);
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(153, 51, 0);
  opacity:  0.3;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(153, 51, 0, 0.3);
}